In [25]:
import os
import pandas as pd
from pathlib import Path
from environ import Env

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(os.curdir).resolve().parent.parent
env = Env()
env_path = BASE_DIR / "django/.env"
if env_path.exists():
    with env_path.open("rt", encoding="utf8") as f:
        env.read_env(f, overwrite=True)

In [33]:
dbname = env.get_value('GCPDB_NAME')
user = env.get_value('GCPDB_USER')
pw = env.get_value('GCPDB_PASSWORD')
host = env.get_value('GCPDB_HOST')

from sqlalchemy import create_engine
# echo를 true로 설정하면 command창에 실행된 sql문이 뜨게 됨
engine = create_engine(f'mysql+mysqldb://{user}:{pw}@{host}:3306/{dbname}')

In [34]:
df = pd.read_sql_query("select * from test_rec_tmpuser", engine)
df.head()

,id,MBTI,ennea_ans1,prefer_movie_id,recommended_character_id,create_time,LoginUser_id,ennea_res,ennea_ans2
0,1,ESFJ,"[""2"", ""B""]",[],[],2023-01-29 12:42:58.077942,NaN,1w2,None
1,2,ISTJ,"[""1"", ""A""]",None,None,2023-01-29 12:47:34.050846,NaN,7w6,None
2,3,ESTP,2,[],[],2023-01-29 12:57:16.997269,NaN,1w2,B
3,4,ENTP,2,[],[],2023-01-29 12:59:19.531005,NaN,1w2,B
4,5,ESTP,2,"[""98961"", ""34323"", ""88163""]","[""10532"", ""11079"", ""10434"", ""4529"", ""10630"", ""...",2023-01-29 13:00:29.721147,NaN,1w2,B

- session 만들기

https://otrodevym.tistory.com/entry/Python-SQLAlchemy-ORMMySql-%EC%82%AC%EC%9A%A9%ED%95%98%EB%8A%94-%EB%B0%A9%EB%B2%95

- session을 통한 CRUD

https://velog.io/@___pepper/Fast-api-SqlAlchemy%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%9C-DB-%EC%97%B0%EA%B2%B0