## üß™ MBTI ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÎ™©Í≥º Î¨¥ÎπÑÎ†åÏ¶à Îç∞Ïù¥ÌÑ∞ Ï†úÎ™© ÎßûÏ∂îÍ∏∞

#### Îã§Ïö¥ Î∞õÏùÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞

In [1]:
import pandas as pd
import numpy as np

In [2]:
ml_title = pd.read_csv("/Users/jeonhaelee/Documents/boostcamp/project/code/data/ml_title.csv")
mbti_all_title = pd.read_csv("/Users/jeonhaelee/Documents/boostcamp/project/code/data/mbti_all_title.csv")
mbti_none_title = pd.read_csv("/Users/jeonhaelee/Documents/boostcamp/project/code/data/mbti_none_title.csv")

In [3]:
ml_title.head()

                         title
0                    toy story
1                      jumanji
2             grumpier old men
3            waiting to exhale
4  father of the bride part ii

In [22]:
ml_title.isna().sum()

title    7
dtype: int64

In [23]:
ml_title = ml_title.dropna(axis=0)

In [4]:
mbti_all_title.head()

,Character,Contents,Votes,MBTI,Enneagram,category,img_src
0,Moana Waialiki,moana,2.7k/477,ENFJ,7w6,movie,https://static1.personality-database.com/profi...
1,Joy,inside out,2.5k/358,ENFJ,7w6,movie,https://static1.personality-database.com/profi...
2,Judy Hopps,zootopia,2.3k/350,ENFJ,1w2,movie,https://static1.personality-database.com/profi...
3,Elle Woods,legally blonde,1.9k/227,ENFJ,3w2,movie,https://static1.personality-database.com/profi...
4,Neil Perry,dead poets society,1.7k/222,ENFJ,4w3,movie,https://static1.personality-database.com/profi...

In [5]:
mbti_none_title.head()

                               Contents
0                           turning red
1                             star wars
2  harry potter / wizarding world films
3                                 emma.
4                    the matrix trilogy

#### Ï†úÎ™©ÏúºÎ°ú Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï ÌõÑ top 3 Íµ¨Ìï¥Ï£ºÎäî Ìï®Ïàò

* title_listÏóêÎäî Î¨¥ÎπÑÎ†åÏ¶à Ï†úÎ™© Î¶¨Ïä§Ìä∏Î•º ÎÑ£Ïñ¥Ï£ºÏãúÍ≥†,
* titleÏóêÎäî MBTI ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÎ™©ÏùÑ ÌïòÎÇòÏî© ÎÑ£Ïñ¥Ï£ºÏãúÎ©¥ Îê©ÎãàÎã§.

-> Í∑∏Îüº title_listÏóêÏÑú titleÍ≥º Ï†úÎ™©Ïù¥ Ïú†ÏÇ¨Ìïú Ï†úÎ™© top 3Í∞Ä Í≤∞Í≥ºÎ°ú ÎÇòÏòµÎãàÎã§.

In [14]:
def content_based_filtering_jaccard(title_list, title):
    topn=3
    target_split_set = set(title.split())
    sim_list = []
    sim_df = pd.DataFrame(title_list, columns=['title'])
    for idx, movie in enumerate(title_list):
        title_split_set = set(movie.split())
        title_intersection = target_split_set.intersection(title_split_set)
        jac_sim = float(len(title_intersection)) / (len(target_split_set) + len(title_split_set) - len(title_intersection))
        sim_list.append(jac_sim)
    sim_df['jaccard_similarity'] = sim_list

    return sim_df.sort_values('jaccard_similarity', ascending=False).reset_index(drop=True)[:topn]

In [24]:
ml_title_list = list(ml_title['title'])
mbti_none_title_list = list(mbti_none_title['Contents'])

ÏÇ¨Ïö© ÏòàÏãú

In [25]:
title_list = ml_title_list
title = mbti_none_title_list[2] # 'harry potter / wizarding world films'
print('crawling title :', title)
content_based_filtering_jaccard(title_list, title)

crawling title : harry potter / wizarding world films

                                       title  jaccard_similarity
0     harry potter and the half-blood prince            0.200000
1      harry potter and the sorcerer's stone            0.200000
2  harry potter and the order of the phoenix            0.181818

In [ ]:
real_none_title = []

ÏúÑÏ≤òÎüº MBTI ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÎ™©ÏùÑ ÌïòÎÇòÏî© Î¨¥ÎπÑÎ†åÏ¶à Ï†úÎ™© Îç∞Ïù¥ÌÑ∞Îûë ÎπÑÍµêÌï¥Ï£ºÏã† Îã§ÏùåÏóê, 

1. Í∞ôÏùÄ ÏòÅÌôîÏù¥Í±∞ÎÇò ÏãúÎ¶¨Ï¶à ÏòÅÌôîÏù¥Î©¥ Ï†úÎ™©ÏùÑ ÎèôÏùºÌïòÍ≤å Ï≤òÎ¶¨Ìï¥Ï£ºÏãúÍ≥†

2. ÏïÑÏòà Í¥ÄÎ†®Ïù¥ ÏóÜÎäî Ï†úÎ™© top 3Í∞Ä ÎÇòÏò®Îã§Î©¥ 'MBTI ÌÅ¨Î°§ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†úÎ™©'ÏùÑ Îî∞Î°ú Î¶¨Ïä§Ìä∏(real_none_title)Ïóê Îã¥ÏïÑÏÑú Ï†ÄÏû•Ìï¥Ï£ºÏÑ∏Ïöî!

    -> ÏñòÎÑ§Îäî Îî∞Î°ú Ï≤òÎ¶¨ ÌïÑÏöî!