In [195]:
from imdb import IMDb

In [114]:
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
mbti = pd.read_csv('Personality_All_168000_rows.csv')

movie = pd.read_csv('ml-25m/movies.csv')

cat_dict={'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_1.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_10.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_11.png': 'gaming',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_12.png': 'literature',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_13.png': 'theatre', # 뮤지컬
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_14.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_15.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_16.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_17.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_18.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_2.png': 'tv',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_21.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_22.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_26.png': 'web_comics',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_27.png': 'superheros',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_28.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_29.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_3.png': 'movies', # 영화
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_5.png': 'n',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_7.png': 'cartoons',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_8.png': 'anime',
 'https://pdb-web-static.s3.us-east-2.amazonaws.com/category_icon/cat_9.png': 'comics'}

mbti.category = mbti.category.map(cat_dict)

In [11]:
mbti.category.value_counts()

n             32292
tv            31268
gaming        26878
anime         23666
movies        19833
cartoons      13132
literature     9653
web_comics     6523
superheros     2680
theatre        1107
comics          968
Name: category, dtype: int64

In [17]:
mv = mbti[mbti.category=='movies']

## MBTI 데이터 영화 - 캐릭터 17003명

In [26]:
mv2 = mv.drop_duplicates(subset=['Character','Contents'])
mv2

,Character,Contents,Votes,MBTI,Enneagram,category,img_src,Page
14,Moana Waialiki,Moana (2016),2.7k/477,ENFJ,7w6,movies,https://static1.personality-database.com/profi...,1
16,Joy,Inside Out (2015),2.5k/358,ENFJ,7w6,movies,https://static1.personality-database.com/profi...,1
21,Judy Hopps,Zootopia (2016),2.3k/350,ENFJ,1w2,movies,https://static1.personality-database.com/profi...,1
33,Elle Woods,Legally Blonde (2001),1.9k/227,ENFJ,3w2,movies,https://static1.personality-database.com/profi...,1
37,Neil Perry,Dead Poets Society (1989),1.7k/222,ENFJ,4w3,movies,https://static1.personality-database.com/profi...,1
...,...,...,...,...,...,...,...,...
167965,Berkeley Cole,Out of Africa (1985),6/0,INFJ,1w9,movies,https://static1.personality-database.com/profi...,210
167972,The Girl,A Girl Walks Home Alone at Night (2014),6/0,INFJ,4w5,movies,https://static1.personality-database.com/profi...,210
167975,Urzah,The Dark Crystal (1982),6/0,INFJ,9w1,movies,https://static1.personality-database.com/profi...,210
167982,Muhsin Bey,Muhsin Bey,6/0,INFJ,1w2,movies,https://static1.personality-database.com/profi...,210
167984,Dr. Leonora Orantes,Contagion (2011),6/0,INFJ,9w1,movies,https://static1.personality-database.com/profi...,210

### 17003명의 MBTI 분포

In [27]:
mv2.MBTI.value_counts()

ESTP    1371
ISFP    1249
ESFP    1226
ESTJ    1167
ISTJ    1121
ISFJ    1074
INFP    1061
ISTP    1048
ESFJ    1005
ENTJ     998
ENTP     972
ENFP     947
INFJ     897
ENFJ     854
INTJ     806
INTP     750
XXXX     457
Name: MBTI, dtype: int64

### 17003명의 영화 개수 -> 4291개

In [48]:
mv2.Contents.value_counts()

Star Wars                                179
Harry Potter / Wizarding World Films     127
James Bond Film Series                    88
Toy Story (Franchise)                     66
Transformers (Bayverse)                   55
                                        ...
Antiviral (2012)                           1
La solitudine dei numeri primi (2010)      1
Every Breath You Take                      1
Hogfather (2006)                           1
Muhsin Bey                                 1
Name: Contents, Length: 4291, dtype: int64

### 등장인물이 특히 많은 Star Wars, Harry Potter는 시리즈물임을 확인

In [34]:
movie[(movie.title.str.contains("star wars",case=False)) & (movie.title.str.startswith("Star"))]

,movieId,title,genres
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1166,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
1179,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
2537,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi
5270,5378,Star Wars: Episode II - Attack of the Clones (...,Action|Adventure|Sci-Fi|IMAX
9952,33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi
12593,61160,Star Wars: The Clone Wars (2008),Action|Adventure|Animation|Sci-Fi
21250,109713,Star Wars: Threads of Destiny (2014),Action|Adventure|Sci-Fi
25055,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX
49883,179819,Star Wars: The Last Jedi (2017),Action|Adventure|Fantasy|Sci-Fi
51308,182857,Star Wars: The Legacy Revealed (2007),Documentary
52111,184593,Star Wars Downunder (2013),Sci-Fi
56918,195217,Star Wars: Dresca,Sci-Fi

In [41]:
movie[movie.title.str.startswith("Harry Potter")]

,movieId,title,genres
4790,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
5704,5816,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy
7742,8368,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX
10408,40815,Harry Potter and the Goblet of Fire (2005),Adventure|Fantasy|Thriller|IMAX
11700,54001,Harry Potter and the Order of the Phoenix (2007),Adventure|Drama|Fantasy|IMAX
13512,69844,Harry Potter and the Half-Blood Prince (2009),Adventure|Fantasy|Mystery|Romance|IMAX
15538,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX
16718,88125,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX

## mvti 영화와 movie lens 영화 연결

In [196]:
mbti_mv = mv2.Contents.value_counts().reset_index()
mbti_mv.columns=['title','character_num']

In [197]:
mbti_mv

                                      title  character_num
0                                 Star Wars            179
1      Harry Potter / Wizarding World Films            127
2                    James Bond Film Series             88
3                     Toy Story (Franchise)             66
4                   Transformers (Bayverse)             55
...                                     ...            ...
4286                       Antiviral (2012)              1
4287  La solitudine dei numeri primi (2010)              1
4288                  Every Breath You Take              1
4289                       Hogfather (2006)              1
4290                             Muhsin Bey              1

[4291 rows x 2 columns]

### 특수문자 처리

In [92]:
mbti_mv[mbti_mv.title.str.contains('/')]

                                                  title  character_num
1                  Harry Potter / Wizarding World Films            127
8       Jurassic Park / Jurassic World (Film Franchise)             46
64            Army of the Dead / Army of Thieves (2021)             18
90    Alice in Wonderland / Through the Looking Glas...             16
102                Hot Wheels World Race / AcceleRacers             15
474                            Leap! / Ballerina (2016)              8
660                 X+Y / A Brilliant Young Mind (2014)              6
739   O Menino que Matou Meus Pais / A Menina que Ma...              6
764     Meet the Parents (2000) / Little Fockers (2010)              6
811                       The Platform / El Hoyo (2020)              6
830                 Ford v Ferrari / Le Mans '66 (2019)              5
893                  12 Monkeys / Twelve Monkeys (1995)              5
1434              Amores Perros / Love's a Bitch (2000)              4
1605                                   Raw/Grave (2016)              3
1640                                          They/Them              3
1670                              Tesis / Thesis (1996)              3
1689  Duck, You Sucker! / A Fistful of Dynamite / On...              3
1829                 Show Me Love / Fucking Åmål (1998)              3
1856                                       50/50 (2011)              3
2084  Journey to the Center of the Earth / Journey 2...              3
2467                              Ondskan / Evil (2003)              2
2812  My Teacher / Sensei! Suki ni Natte mo Ii Desuk...              2
2939                     Lude godine / Žikina dinastija              2
3015                              Brat / Brother (1997)              2
3048                                    Face/Off (1997)              2
3168                                   Fate/Grand Order              1
3208                          Metalhead/Málmhaus (2013)              1
3262                                              V/H/S              1
3288              Four Christmases/Four Holidays (2008)              1
3348                          My Girl / Fan Chan (2003)              1
3357                                         07/27/1978              1
3472                 Vozvrashchenie / The Return (2003)              1
3553   Bara no Sōretsu / Funeral Parade of Roses (1969)              1
3565                        Braindead/Dead Alive (1992)              1
3573                                              8 1/2              1
3812            Look Who's Back/Er ist wieder da (2015)              1
4068                      Diecisiete / Seventeen (2019)              1
4071            The Perfect Catch / Fever Pitch ( 2005)              1
4201               Il mercenario / The Mercenary (1968)              1
4220          Union of salvation / Союз спасения (2019)              1
4275     Stormbreaker / Alex Rider: Stormbreaker (2006)              1

In [94]:
slash_index = mbti_mv[mbti_mv.title.str.contains('/')].index

In [95]:
mbti_mv.title.str.split('/').str[0].str.strip().loc[slash_index]

1                             Harry Potter
8                            Jurassic Park
64                        Army of the Dead
90                     Alice in Wonderland
102                  Hot Wheels World Race
474                                  Leap!
660                                    X+Y
739           O Menino que Matou Meus Pais
764                Meet the Parents (2000)
811                           The Platform
830                         Ford v Ferrari
893                             12 Monkeys
1434                         Amores Perros
1605                                   Raw
1640                                  They
1670                                 Tesis
1689                     Duck, You Sucker!
1829                          Show Me Love
1856                                    50
2084    Journey to the Center of the Earth
2467                               Ondskan
2812                            My Teacher
2939                           Lude godine
3015                                  Brat
3048                                  Face
3168                                  Fate
3208                             Metalhead
3262                                     V
3288                      Four Christmases
3348                               My Girl
3357                                    07
3472                        Vozvrashchenie
3553                       Bara no Sōretsu
3565                             Braindead
3573                                   8 1
3812                       Look Who's Back
4068                            Diecisiete
4071                     The Perfect Catch
4201                         Il mercenario
4220                    Union of salvation
4275                          Stormbreaker
Name: title, dtype: object

In [96]:
mbti_mv['title2']=mbti_mv.title.str.split('/').str[0].str.strip()

mbti_mv['title2']=mbti_mv.title2.str.replace(r"(\(\d+-*\d*\))","").str.strip()

mbti_mv.title2 = mbti_mv.title2.str.replace(r" \(\.*\)","")

In [103]:
movie['title2'] = movie.title.str.replace(r"(\(\d+-*\d*\))","").str.strip()

movie['year'] = movie.title.str.extract(r"(\(\d+-*\d*\))")[0].str.replace('[()]','')

In [164]:
movie[movie.year.isna()].shape

(410, 5)

In [190]:
mbti_mv2 = mbti_mv[['title2','character_num']]

In [191]:
for l in tqdm(mbti_mv2.itertuples(), total=mbti_mv2.shape[0]):
    include_mid_list = movie[movie.title2.str.startswith(l.title2)].movieId.tolist()
    if include_mid_list:
        mbti_mv2.loc[l.Index,'movieId'] = include_mid_list[0]

100%|██████████████████████████████████████████████████████████| 4291/4291 [01:38<00:00, 43.62it/s]

In [199]:
mbti_mv2.shape

(4291, 3)

In [184]:
mbti_mv2[mbti_mv2.movieId.isna()]

                                    title2  character_num  movieId
2                   James Bond Film Series             88      NaN
10                                 Encanto             43      NaN
11    The Lord of the Rings (Film Trilogy)             42      NaN
17                             Fear Street             37      NaN
20               The Hobbit (Film Trilogy)             33      NaN
...                                    ...            ...      ...
4284                           The Insider              1      NaN
4287        La solitudine dei numeri primi              1      NaN
4288                 Every Breath You Take              1      NaN
4289                             Hogfather              1      NaN
4290                            Muhsin Bey              1      NaN

[1527 rows x 3 columns]

In [141]:
mbti_mv2[mbti_mv2.movieId.notna()]

                        title2  character_num   movieId
0                    Star Wars            179     260.0
1                 Harry Potter            127    4896.0
8                Jurassic Park             46     480.0
16    Pirates of the Caribbean             38    6539.0
18               The Conjuring             33  159858.0
...                        ...            ...       ...
4281                   Wizards              1   31150.0
4282       The Young Karl Marx              1  179647.0
4283             Little Forest              1  158157.0
4285                 Cube Zero              1   32213.0
4286                 Antiviral              1   98975.0

[2700 rows x 3 columns]

## imdb api 활용

In [246]:
mbti_mv2

                              title2  character_num  movieId
0                          Star Wars            179    260.0
1                       Harry Potter            127   4896.0
2             James Bond Film Series             88      NaN
3                          Toy Story             66      1.0
4                       Transformers             55   4006.0
...                              ...            ...      ...
4286                       Antiviral              1  98975.0
4287  La solitudine dei numeri primi              1      NaN
4288           Every Breath You Take              1      NaN
4289                       Hogfather              1      NaN
4290                      Muhsin Bey              1      NaN

[4291 rows x 3 columns]

In [ ]:
from imdb import IMDb

ia = IMDb()

In [201]:
ia = IMDb()

In [237]:
movie_name = "Harry Potter"

'Harry Potter'

In [250]:
ia.search_movie("Game of Throne")

[<Movie id:0944947[http] title:_"Game of Thrones" (2019) (2011)_>,
 <Movie id:13380510[http] title:_Game of Thrones (2003) (V)_>,
 <Movie id:11198330[http] title:_"House of the Dragon" (2022)_>,
 <Movie id:6857128[http] title:_Unaired Game of Thrones Prequel Pilot (2019) (TV)_>,
 <Movie id:21073266[http] title:_"Untitled Jon Snow/Game of Thrones Spinoff" (None)_>,
 <Movie id:10090796[http] title:_Game of Thrones: The Last Watch (2019) (TV)_>,
 <Movie id:3131362[http] title:_Sex Game of Thrones (2012) (V)_>,
 <Movie id:7937220[http] title:_Game of Thrones Conquest & Rebellion: An Animated History of the Seven Kingdoms (2017) (V)_>,
 <Movie id:6411748[http] title:_Purge of Kingdoms (2019)_>,
 <Movie id:11416040[http] title:_Game of Thrones: Bleed for the Throne (2019) (V)_>,
 <Movie id:2653342[http] title:_Game of Thrones: Season 2 - Character Profiles (2013) (V)_>,
 <Movie id:7520436[http] title:_Untitled Max Borenstein/Game of Thrones Spin-Off (None) (TV)_>,
 <Movie id:3391176[http] title:_Game of Thrones: A Telltale Games Series (2014) (VG)_>,
 <Movie id:7520448[http] title:_Untitled Carly Wray/Game of Thrones Spin-Off (None) (TV)_>,
 <Movie id:2653354[http] title:_Making of Game of Thrones (2011) (V)_>,
 <Movie id:7136312[http] title:_Game of Thrones: The Story So Far (2017) (TV)_>,
 <Movie id:2231444[http] title:_Game of Thrones (2012) (VG)_>,
 <Movie id:2653340[http] title:_Game of Thrones: Season 2 - Invitation to the Set (2012) (V)_>,
 <Movie id:21973642[http] title:_The Official Game of Thrones Podcast: House of the Dragon (2022)_>,
 <Movie id:2653350[http] title:_Game of Thrones: Costumes (2011) (V)_>]

In [238]:
search_movie = ia.search_movie(movie_name)[0]
print(search_movie)

Harry Potter and the Sorcerer's Stone

In [239]:
movie = ia.get_movie(search_movie.getID())

In [243]:
genres = [genre for genre in movie.get('genres', [])]
plots = [plot for plot in movie.get('plot', [])]
directors = [person['name'] for person in movie.get('directors', [])]
actors = [person['name'] for person in movie.get('cast', [])]
producers = [person['name'] for person in movie.get('producers', [])]
composers = [person['name'] for person in movie.get('composers', [])]

In [253]:
movie.get('writers', [])

[<Person id:0746830[http] name:_J.K. Rowling_>,
 <Person id:None[http] name:_None_>,
 <Person id:0460141[http] name:_Steve Kloves_>]

In [262]:
[person for person in movie.get('writers', [])][1]

In [244]:
genres

['Adventure', 'Family', 'Fantasy']

In [248]:
actors

['Richard Harris',
 'Maggie Smith',
 'Robbie Coltrane',
 'Saunders Triplets',
 'Daniel Radcliffe',
 'Fiona Shaw',
 'Harry Melling',
 'Richard Griffiths',
 'Derek Deadman',
 'Ian Hart',
 'Ben Borowiecki',
 'Warwick Davis',
 'Verne Troyer',
 'John Hurt',
 'Richard Bremmer',
 'Geraldine Somerville',
 'Harry Taylor',
 'Julie Walters',
 'Bonnie Wright',
 'Chris Rankin',
 'James Phelps',
 'Oliver Phelps',
 'Rupert Grint',
 'Jean Southern',
 'Emma Watson',
 'Matthew Lewis',
 'Tom Felton',
 'Jamie Waylett',
 'Josh Herdman',
 'Devon Murray',
 'Alfred Enoch',
 'Leslie Phillips',
 'Eleanor Columbus',
 'John Cleese',
 'Terence Bayler',
 'Simon Fisher-Becker',
 'Nina Young',
 'David Bradley',
 'Alan Rickman',
 'Zoë Wanamaker',
 'Luke Youngblood',
 'Sean Biggerstaff',
 'Elizabeth Spriggs',
 'Danielle Tabor',
 'Leilah Sutherland',
 'Emily Dale',
 'David Holmes',
 'Will Theakston',
 'Scot Fearn',
 'Adrian Rawlins',
 'Ray Fearon',
 'Andy Herd',
 'Adam Alderman',
 'Karen Anderson',
 'Steve Apelt',
 'Mark Ballas',
 'Paul Bannon',
 'Alan Bennett',
 'Lukas Bennett',
 'Sarah Bennett',
 'David Brett',
 'Peter Burroughs',
 'Melita Clarke',
 'Paul Marc Davis',
 'Dex',
 'Melanie Dixon',
 'Amy Domenica',
 'Mike Edmonds',
 'Liam Elcoat',
 'David William James Elliott',
 'Scott English',
 'Holly-Ann Filtness',
 'Rusty Goffe',
 'Paul Grant',
 'Dani Harmer',
 'Katie Healy',
 'Marc Hendrey',
 'Maude Hirst',
 'Leila Hoffman',
 'Aimee Holden',
 'Phil Holden',
 'Darren Horan',
 'Derek Hough',
 'Julianne Hough',
 'Will Howes',
 'Hugo',
 'Kieri Kennedy',
 'Natalie Klamar',
 'Theo Kypri',
 'Oliver Lavery-Farag',
 'Mark Lisle',
 'Peter Mandell',
 'Maximus',
 'Franky Mwangi',
 "Jenny O'Sullivan",
 'Jo Osmond',
 'Lisa Osmond',
 'Cath Peakin',
 'Stefan Pejic',
 'Christina Petrou',
 'Niall Phillips',
 'Jason Porter',
 'Katie Purvis',
 'Nicholas Read',
 'Richard Alan Reid',
 'Miles Richardson',
 'Sarah Rorbach',
 'Mark Sealey',
 'Louisa Sexton',
 'Kiran Shah',
 'Hazel Showham',
 'Dominic Smith',
 'Bianca Sowerby',
 'Gerald Staddon',
 'Zoe Sugg',
 'Dolly Thompson',
 'Darren Tough',
 'Bernadette Jane Vanderkar',
 'Jimmy Vee',
 'Jasmin Walia',
 'Brian Wheeler',
 'Gary Wronecki']

In [247]:
directors

['Chris Columbus']

In [245]:
plots

['An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.',
 'This is the tale of Harry Potter (Daniel Radcliffe), an ordinary eleven-year-old boy serving as a sort of slave for his aunt and uncle who learns that he is actually a wizard and has been invited to attend the Hogwarts School for Witchcraft and Wizardry. Harry is snatched away from his mundane existence by Rubeus Hagrid (Robbie Coltrane), the groundskeeper for Hogwarts, and quickly thrown into a world completely foreign to both him and the viewer. Famous for an incident that happened at his birth, Harry makes friends easily at his new school. He soon finds, however, that the wizarding world is far more dangerous for him than he would have imagined, and he quickly learns that not all wizards are ones to be trusted.::Carly',
 'Harry Potter is an average bespectacled eleven-year-old boy who has lived with the Dursley family ever since his parents died in a car crash. For some reason, the family has always mistreated him. On his eleventh birthday, a giant man named Rubeus Hagrid (Robbie Coltrane) hands him a letter telling him that he has been accepted as a student at the Hogwarts School of Witchcraft and Wizardry. Harry learns that his parents were wizards and were killed by the evil wizard Voldemort (Richard Bremmer), a truth that was hidden from him all these years. He embarks for his new life as a student, gathering two good friends Ron Weasley (Rupert Grint) and Hermione Granger (Emma Watson) along the way. They soon learn that something very valuable is hidden somewhere inside the school and Voldemort is very anxious to lay his hands on it.::Soumitra',
 "Harry Potter (Daniel Radcliffe) thinks he is an ordinary boy celebrating his eleventh birthday, but he is far from right. A giant named Hagrid (Robbie Coltrane) appears, and gives Harry the all-important news. He is a wizard. Now his journey in life gets more intense as he travels to Hogwarts school of witchcraft and wizardry to learn the trade of being a wizard. Here, he meets his friends who would be by his side for many years to come. Ron Weasley (Rupert Grint) is not a very brave friend and Hermione (Emma Watson) is the smart friend. But not everything is quiet at Hogwarts as Harry suspects someone is planning to steal the Philosopher's/Sorcerer's Stone.::simon",
 'On his eleventh birthday, Harry Potter (Daniel Radcliffe) discovers that he is no ordinary boy. Hagrid (Robbie Coltrane), a beetle-eyed giant, tells Harry that he is a wizard and has a place at Hogwarts School of Witchcraft and Wizardry. In his first year of magical education, Harry tackles a fully grown mountain troll, learns to play Quidditch, and participates in a thrilling "live" game of chess.',
 'Harry Potter (Daniel Radcliffe) thinks that he is an ordinary boy. But on his eleventh birthday, he finally discovered who he really is and he learns that his mum and dad were wizards and witches. Then he realized that he was lucky to survive. Since then, he became a famous person in his new school. In between, a mysterious giant came and gave him a letter telling that he was one of the chosen ones to the school. Therefore he became happy to start a new life and ready to adjust to his new school. As a result, in the school he met two friends, one friend is smart the other one is kind.',
 "Young Harry Potter (Daniel Radcliffe) has to lead a hard life: His parents have died in a car crash when he was still a baby, and he is being brought up by his Uncle Vernon (Richard Griffiths) and Aunt Petunia (Fiona Shaw). For some reason unbeknownst to the bespectacled ten-year-old, the Dursleys let him live in the small chamber under the stairs, and treat him more like vermin than like a family member. His fat cousin Dudley Harry Melling), the Dursley's real son, keeps bothering Harry all the time. On his eleventh birthday, Harry Potter finally receives a mysterious letter from a certain Hogwarts School of Witchcraft and Wizardry, telling him that he is chosen as one of the future students of that supposedly renowned school. Hagrid (Robbie Coltrane), the gigantic man who brought the letter, finally introduces Harry into the real circumstances of his life: His parents were a wizard and a witch, they were killed by the evil wizard Voldemort (Richard Bremmer) protecting him. Harry still has a lightning-shaped scar on his forehead from that event. Since he survived the attack as a baby, and also somehow deprived Voldemort from his powers, he has been famous in the wizarding world ever since. The Dursleys, strong disbelievers in that magical crap, never told Harry anything about his true self. So, Harry is strongly surprised, yet absolutely happy to start his training. At Hogwarts, Harry meets his teachers, and becomes friends with Ron Weasley (Rupert Grint) and Hermione Granger (Emma Watson). The three of them accidentally find out that the potions master, Severus Snape (Alan Rickman), seems to plot on stealing something that is guarded by a three-headed dog. Since nobody would believe some first years to have found out such important things that even would incriminate a Hogwarts teacher, they take it on themselves to find out what Snape is up to. Their quest for the truth leads across many obstacles, from keeping up the everyday school life, a bewitched Quidditch match (Quidditch is a popular wizard sport), Fluffy, the three-headed monster dog, and quite some tasks one has to overcome to get to the guarded object.::Julian Reischl <julianreischl@mac.com>"]

In [62]:
movie[movie.title.str.contains("Acceleracers")]

       movieId                                    title              genres
32884   141938  Hot Wheels Acceleracers Ignition (2005)  Animation|Children

In [69]:
movie[movie.title.str.contains("Platform")]

       movieId                      title genres
11181    48970  Platform (Zhantai) (2000)  Drama