In [176]:
import pandas as pd
from pathlib import Path
import os
import urllib

movie_pngs = !ls /opt/ml/project/django/static/img
movie_pngs[:2]

['100163_hansel_gretel_witch_hunters.png', '100383_side_effects.png']

In [63]:
pickle_path = Path(os.curdir).absolute().parent.parent.absolute()/"Utils/Pickle"
pickle_path2 = Path(os.curdir).absolute().parent.parent.parent.absolute()/"project/Utils/Pickle"
pickle_path, pickle_path2

(PosixPath('/opt/ml/project2/Utils/Pickle'),
 PosixPath('/opt/ml/project/Utils/Pickle'))

In [243]:
character_df = pd.read_pickle(pickle_path / '230203_character_movie_merge.pickle')
movie_df = pd.read_pickle(pickle_path / '230130_Popular_movie_1192_cwj.pickle')
watch_link =  pd.read_pickle(pickle_path / '230131_watch_link_4679_rows.pickle')
character_info_df = pd.read_pickle(pickle_path / 'processed_ko_cha_info.pickle')

In [245]:
movie_df[movie_df.movieId==88179]

,Contents,ko_title,contents_year,country,ko_genre,ko_plot,rating,npop,genres,plot,directors,actors,movieId
318,One Day (2011),원 데이,2011,"미국,영국",드라마/로맨스,“내일이 어떻게 되든 오늘은 함께 있잖아”,3.6,220000,"'Drama', 'Romance'",After spending the night together on the night...,'Lone Scherfig',"'Anne Hathaway', 'Jim Sturgess', 'Tom Mison', ...",88179

In [201]:
!ls changed_data/

'230211_Abnormal_Data_Processing - 바로가기 링크 (1).csv'
'230211_Abnormal_Data_Processing - 바로가기 링크.csv'
'230211_Abnormal_Data_Processing - 영화 (1).csv'
'230211_Abnormal_Data_Processing - 영화.csv'
'230211_Abnormal_Data_Processing - 캐릭터 (1).csv'
'230211_Abnormal_Data_Processing - 캐릭터.csv'

In [219]:
link = pd.read_csv('changed_data/230211_Abnormal_Data_Processing - 바로가기 링크 (1).csv')
mdf = pd.read_csv('changed_data/230211_Abnormal_Data_Processing - 영화 (1).csv')
cdf = pd.read_csv('changed_data/230211_Abnormal_Data_Processing - 캐릭터 (1).csv')

In [203]:
link.shape, mdf.shape, cdf.shape

((4686, 5), (1192, 6), (2869, 9))

수정된 내용
- 캐릭터 이름(name), 설명(desc) 변경 -> processed_ko_cha_info 변경
- movieId에 따른 영화 제목, 설명 변경 -> 230130_Popular_movie_1192_cwj 변경
- movieId에 따른 포스터 변경 -> django static img에 포스터파일로 저장하기
- movieId에 따른 바로가기 링크 변경 -> 230131_watch_link_4679_rows 변경

- CharacterId 행 삭제(캐릭터 삭제) -> 230203_character_movie_merge 에서 삭제
- movieId 행 삭제(영화 삭제) -> 230130_Popular_movie_1192_cwj 에서 삭제

### 캐릭터 이름(name), 설명(desc) 변경 -> processed_ko_cha_info 변경

In [204]:
cinfo = cdf[['CharacterId','name','desc']].dropna()
cinfo.CharacterId = cinfo.CharacterId.astype(int)
print(cinfo.shape)
cinfo[:5]

(2867, 3)

   CharacterId       name                                               desc
0            0  모아나 와이알리키  모아나는 태평양의 섬 마셰이의 왕자로, 자신의 섬을 위해 여행을 떠나는 주인공이다....
1            2         조이  조이는 라이언의 마음 속에 있는 기쁨을 나타내는 캐릭터로, 기쁨과 에너지가 넘치는 ...
2            3     주디 호프스  주디 호프스는 종족 차별을 극복하기 위해 도전하는 열정적인 토끼 주민입니다. 주디는...
3            4      엘 모어즈  엘 모어즈는 미국 버클리 대학교의 소셜학부 학생으로, 명문 로스앤젤레스 변호사가 되...
4            5       닐 페리  닐 페리는 뉴에이지 스쿨의 학생으로, 자신의 열정과 상상력을 통해 자신의 방향을 찾...

In [205]:
character_info_df2 = cinfo

### movieId에 따른 영화 제목, 설명 변경 -> 230130_Popular_movie_1192_cwj 변경

In [206]:
ko_title_dict = dict(zip(mdf.movieId,mdf.ko_title))
ko_plot_dict = dict(zip(mdf.movieId,mdf.ko_plot))

# ko_title 수정 및 다른거 확인
movie_df['ko_title2'] = movie_df.movieId.map(ko_title_dict)
movie_df[movie_df.ko_title!=movie_df.ko_title2]

,Contents,ko_title,contents_year,country,ko_genre,ko_plot,rating,npop,genres,plot,directors,actors,movieId,ko_title2
15,Descendants (Franchise),디센던트,2011,미국,코미디/드라마,그 동안 몰랐던 가족의 비밀을 알게 된 남자의 이야기! 잘 나가는 변호사 맷(조지 ...,3.6,20000,"'Documentary', 'Sport'",NaN,'Brad Hennegan','Angela Sun',140160,디센던츠
43,Run (2020),런 온,2020,한국,드라마/TV드라마,"같은 한국말을 쓰면서도 소통이 어려운 시대, 서로 다른 세계에 살던 사람들이 각자의...",3.8,10000,"'Mystery', 'Thriller'",A homeschooled teenager begins to suspect her ...,'Aneesh Chaganty',"'Sarah Paulson', 'Kiera Allen', 'Sara Sohn', '...",7127,런
72,Z-O-M-B-I-E-S (2018),기묘한 가족,2018,한국,코미디,망해버린 주유소의 트러블메이커 가장 '만덕'은 우연히 만난 좀비를 집안에 들인다. ...,3.0,20000,"'Adventure', 'Family', 'Fantasy', 'Musical', '...",NaN,'Paul Hoen',"'Milo Manheim', 'Meg Donnelly', 'Trevor Tordjm...",300018,좀비스
96,Split (2016),스플릿,2016,한국,드라마,과거 볼링계의 전설이라 불리며 이름을 날리던 ‘철종’은 불운의 사고로 모든 것을 잃...,3.3,70000,"'Horror', 'Thriller'",NaN,'M. Night Shyamalan',"'James McAvoy', 'Anya Taylor-Joy', 'Betty Buck...",166534,23 아이덴티티
150,Azur & Asmar,명탐정 코난:감벽의 관,2007,일본,애니메이션/미스터리,휴가를 맞아 300년 전 존재했던 해적과 숨겨진 보물의 전설이 전해지는 신해도를 찾...,3.2,20000,"'Animation', 'Adventure', 'Family', 'Fantasy'",NaN,"'Michel Ocelot', 'Ian McIntyre'","'Cyril Mourali', ""Karim M'Riba"", 'Hiam Abbass'...",55856,아주르와 아스마르
157,Hercules (franchise),허큘리스,2014,"미국,헝가리",액션/모험/판타지,그리스 신들의 능력을 타고난 ‘허큘리스’. 여신 헤라의 미움을 받아 맡겨진 불가능에...,2.9,20000,'Documentary',NaN,'David Sheik','David Sheik',1566,헤라클레스
189,Peppermint,박하사탕,1999,한국,드라마,"스무 살 첫사랑, 그 순수로 떠나는 시간여행",3.7,180000,"'Action', 'Thriller'",Five years after her husband and daughter are ...,'Pierre Morel',"'Jennifer Garner', 'John Gallagher Jr.', 'John...",191489,아이 엠 마더
469,Bill & Ted (Franchise),킬빌 2,2004,no_data,no_data,-,3.7,42,"'Adventure', 'Comedy', 'Music', 'Sci-Fi'",Once told they'd save the universe during a ti...,'Dean Parisot',"'Keanu Reeves', 'Alex Winter', 'Kristen Schaal...",4571,엑설런트 어드벤쳐 3
599,Revenge,도쿄 리벤저스,2021,일본,애니메이션/액션/드라마,아르바이트를 전전하는 생활을 하던 주인공이 어느 날 사고를 당한 후 인생의 절정이었...,4.2,30000,"'Drama', 'Mystery', 'Thriller'",An emotionally troubled young woman sets out t...,NaN,"'Madeleine Stowe', 'Emily VanCamp', 'Gabriel M...",7032,리벤지
603,On The Edge,박수건달,2012,한국,코미디/범죄,"보스에게 신임 받고, 동생들에게 사랑 받는 엘리트 건달 광호(박신양). 남 부러울 ...",3.1,490000,'Drama',A contemporary urban thriller about the bloody...,'Giordano Gederlini',"'Antonio de la Torre', 'Marine Vacth', 'Olivie...",4724,세상 끝에서
614,CJ7 (2008),CJ7 - 장강7호,2008,홍콩,코미디/드라마/가족,가난하지만 행복한 삶을 살고 있던 샤오디와 아빠(주성치)에게 찾아 온 뜻밖의 손님 ...,3.1,90000,"'Adventure', 'Comedy', 'Drama', 'Family', 'Fan...",NaN,'Stephen Chow',"'Stephen Chow', 'Jiao Xu', 'Lei Huang', 'Yuqi ...",58652,장강7호
616,Kogustaki Mucize 7,7번방의 선물,2012,한국,드라마/코미디,최악의 흉악범들이 모인 교도소 7번방에 이상한 놈이 들어왔다. 그는 바로 6살 지능...,3.9,1640000,'Drama',A story of love between a mentally-ill father ...,'Mehmet Ada Öztekin',"'Aras Bulut Iynemli', 'Nisa Sofiya Aksongur', ...",300386,7번방의 기적
825,The Ring (2002),반지의 제왕 : 두 개의 탑,2002,"미국,뉴질랜드,독일",판타지/드라마/액션/모험,모든 힘을 지배할 악의 군주 ‘사우론’의 절대반지가 깨어나고 악의 세력이 세상을 지...,4.2,590000,"'Horror', 'Mystery'",A journalist must investigate a mysterious vid...,'Gore Verbinski',"'Naomi Watts', 'Martin Henderson', 'David Dorf...",151151,링
846,Desperado,내 깡패 같은 애인,2010,한국,로맨스/코미디/드라마,"싸움 하나 제대로 못하지만, 입심 하난 끝내주는 삼류건달 동철(박중훈). 예전만큼 ...",3.3,230000,"'Action', 'Crime', 'Thriller', 'Western'",Former musician and gunslinger El Mariachi arr...,'Robert Rodriguez',"'Antonio Banderas', 'Salma Hayek', 'Joaquim de...",163,원스 어폰 어 타임 인 멕시코
918,Midnight,비포 미드나잇,2013,미국,드라마/로맨스,우연히 시작된 사랑,3.9,160000,"'Drama', 'Fantasy', 'Horror', 'Mystery'",An isolated island community experiences mirac...,NaN,"'Kate Siegel', 'Zach Gilford', 'Kristin Lehman...",7578,미드나이트
961,After (Film Trilogy),애프터 양,2021,미국,드라마/SF,함께 살던 안드로이드 인간 ‘양’이 어느 날 작동을 멈추자 제이크 가족은 그를 수리...,4.0,30000,"'Short', 'Comedy'",NaN,NaN,"'Adam Kaige', 'Jez Malpas', 'Ben Mansbridge', ...",133731,애프터
1090,6 Years,6년째 연애중,2007,한국,로맨스,"다진과 재영의 때로는 뜨겁고, 때로는 격렬한 연애에 관한 모든 것! 연애질 6년차...",3.0,90000,"'Drama', 'Romance'",NaN,'Hannah Fidell',"'Taissa Farmiga', 'Ben Rosenfield', 'Lindsay B...",141950,6년의 사랑
1187,Spider-Man (2017),스파이더맨: 홈커밍,2017,미국,액션/모험/SF,‘시빌 워’ 당시 ‘토니 스타크’(로버트 다우니 주니어)에게 발탁되어 대단한 활약을...,4.1,870000,"'Action', 'Adventure', 'Sci-Fi'",Peter Parker balances his life as an ordinary ...,'Jon Watts',"'Tom Holland', 'Michael Keaton', 'Robert Downe...",300997,스파이더맨: 뉴 유니버스

In [207]:
# ko_title2를 ko_title로 변경 후 drop
movie_df.ko_title = movie_df.ko_title2
movie_df.drop('ko_title2',axis=1,inplace=True)

In [208]:
# ko_plot2로 변경 및 바뀐 것 shape 확인
movie_df['ko_plot2'] = movie_df.movieId.map(ko_plot_dict)
movie_df[movie_df.ko_plot != movie_df.ko_plot2].shape

(119, 14)

In [209]:
# ko_plot2 정제 및 ko_plot으로 변경
movie_df.ko_plot2 = movie_df.ko_plot2.str.replace('\n',' ')
movie_df.ko_plot = movie_df.ko_plot2
# 다 잘 바뀌었는지 shape 확인 -> 0 나와야된다.
movie_df[movie_df.ko_plot != movie_df.ko_plot2].shape

(0, 14)

In [210]:
movie_df.drop('ko_plot2',axis=1,inplace=True)

### movieId에 따른 포스터 변경 -> django static img에 포스터파일로 저장하기

In [211]:
## 대체 포스터 링크 있는 애들
mdf_poster = mdf[mdf['대체 포스터 링크'].str.contains('http').fillna(False)]
mdf_poster[:3]

,movieId,ko_title,ko_plot,대체 포스터 링크,삭제여부,Unnamed: 5
6,123,중경삼림 리마스터링,"1994년 홍콩, “내 사랑의 유통기한은 만 년으로 하고 싶다”\n만우절의 이별 통...",https://an2-img.amz.wtchn.net/image/v2/icQfbj1...,수정,NaN
8,163,원스 어폰 어 타임 인 멕시코,악몽과 비극적 상처를 가슴에 안고 유령처럼 숨어서 사는 엘 마리아치는 CIA 요원 ...,https://an2-img.amz.wtchn.net/image/v2/lhtwGYD...,수정,NaN
24,587,사랑과 영혼,금융전문가로 일하는 샘(페트릭 스웨이지)과 도예가인 몰리(데미 무어)는 동거생활을 ...,https://an2-img.amz.wtchn.net/image/v2/wxpK0Wb...,NaN,NaN

In [212]:
# 파일로 쓰기
for mid,img_src in zip(mdf_poster.movieId,mdf_poster['대체 포스터 링크']):
    filename = [i for i in movie_pngs if i.startswith(f"{mid}_")][0]
    urllib.request.urlretrieve(img_src, f"changed_movie_poster/{filename}.png")
    print(filename)

123_chungking_express.png
163_desperado.png
587_ghost.png
1566_hercules.png
1784_as_good_as_it_gets.png
2252_hero.png
2273_rush_hour.png
2366_king_kong.png
3418_thelma_louise.png
3462_modern_times.png
4014_chocolat.png
4334_yi_yi.png
4571_bill_ted.png
5502_signs.png
6890_elephant.png
6975_funny_games.png
7147_big_fish.png
7579_pride_and_prejudice.png
32707_blue.png
32770_brothers.png
35957_red_eye.png
43560_nanny_mcphee.png
45081_silent_hill.png
53996_transformers.png
54503_superbad.png
55856_azur_asmar.png
75395_frozen.png
86817_something_borrowed.png
91067_spy.png
94015_mirror_mirror.png
102720_epic.png
104863_what_if.png
105844_12_years_a_slave.png
107771_only_lovers_left_alive.png
130636_unfriended.png
131654_the_village.png
140160_descendants.png
140174_room.png
140267_the_witch.png
142827_waves.png
162416_big_fish_begonia.png
162814_the_king.png
166534_split.png
176419_mother.png
179089_the_hunt.png
183651_truth_or_dare.png
191489_peppermint.png
192803_bohemian_rhapsody.png
300018_ZOMBIES.png
300386_Miracle_in_Cell_No_7.png
300997_SpiderMan_Homecoming.png

In [213]:
!ls -l /opt/ml/project/django/static/img/ | wc -l

3437

In [214]:
cp -f changed_movie_poster/* /opt/ml/project/django/static/img/

In [215]:
!ls -l /opt/ml/project/django/static/img/ | wc -l

3441

### movieId에 따른 바로가기 링크 변경 -> 230131_watch_link_4679_rows 변경

In [220]:
watch_link[:1]

   title platform                                               link  movieId
0  moana     디즈니+  https://disneyplus.bn5x.net/c/3581330/1182069/...    73141

In [221]:
# 삭제 빼고 링크 변경
link2 = link[link['수정/삭제 여부']!='삭제']
link2 = link2[['movieId','platform','link']]

In [222]:
watch_link.shape, link2.shape

((4679, 4), (4665, 3))

### CharacterId 행 삭제(캐릭터 삭제) -> 230203_character_movie_merge 에서 삭제

In [223]:
# 삭제 되는 캐릭터 ID들과 그 개수
remove_cid = cdf[cdf['수정/삭제 여부'].str.contains('삭제').fillna(False)].CharacterId.tolist()
print(remove_cid)
len(remove_cid)

[11.0, 618.0, 6317.0, 15174.0, 19495.0, 19499.0, 19509.0, 24088.0, 17955.0, 18236.0, 18469.0, 21461.0, 21577.0, 21936.0, 22026.0]

15

In [224]:
# dataframe에서 개수 맞는지 확인
character_df[character_df.CharacterId.isin(remove_cid)].shape

(15, 12)

In [225]:
# 캐릭터 삭제
character_df2 = character_df[~character_df.CharacterId.isin(remove_cid)]
character_df2.shape

(2852, 12)

### movieId 행 삭제(영화 삭제) -> 230130_Popular_movie_1192_cwj 에서 삭제

In [226]:
# 삭제 되는 애들 확인 - 같으면 좋다
display(mdf[mdf['삭제여부']=='삭제'])
display(mdf[mdf['삭제여부'].str.contains('삭제').fillna(False)])

,movieId,ko_title,ko_plot,대체 포스터 링크,삭제여부,Unnamed: 5
89,2148,벌새,"성수대교가 무너졌던 1994년, 중학생 은희는 방앗간을 하는 부모님 그리고 언니, ...",NaN,삭제,NaN
131,3720,밀양,신애는 교통사고로 죽어버린 남편의 고향 밀양으로 아들 준을 데리고 이사한다. 오는 ...,NaN,삭제,NaN
141,3967,빌리 엘리어트,파업에 돌입한 탄광 노동조합과 정부 사이의 대립이 팽팽한 영국 북부의 작은 마을. ...,NaN,삭제,NaN
250,7032,리벤지,바비인형의 외모를 가진 제니퍼는 애인의 사냥 행사에 동행하고 애인 친구들의 질퍽한 ...,NaN,삭제,NaN
253,7127,런,가장 안전했던 그곳이 가장 위험한 공간이 된다! 태어날 때부터 장애 때문에 휠체어를...,NaN,삭제,NaN
326,32497,러브레터,오늘에서야 다시 꺼내봅니다.,NaN,삭제,NaN
424,55267,댄 인 러브,좌충우돌 사춘기 세 딸을 키우는 ‘댄’(스티브 카렐)은 나홀로 행복한(?) 가정꾸리...,NaN,삭제,NaN
615,88179,원 데이,“내일이 어떻게 되든 오늘은 함께 있잖아”,NaN,삭제,NaN
832,142184,도가니,나는 이 사건을,NaN,삭제,NaN
1173,300941,최종병기 활,"50만 포로가 끌려간 병자호란, 치열했던 전쟁의 한 복판에 역사가 기록하지 못한 위...",NaN,삭제,NaN
1184,300978,엑스맨 탄생: 울버린,그들의 거대한 서막이 시작된다!,NaN,삭제,NaN

,movieId,ko_title,ko_plot,대체 포스터 링크,삭제여부,Unnamed: 5
89,2148,벌새,"성수대교가 무너졌던 1994년, 중학생 은희는 방앗간을 하는 부모님 그리고 언니, ...",NaN,삭제,NaN
131,3720,밀양,신애는 교통사고로 죽어버린 남편의 고향 밀양으로 아들 준을 데리고 이사한다. 오는 ...,NaN,삭제,NaN
141,3967,빌리 엘리어트,파업에 돌입한 탄광 노동조합과 정부 사이의 대립이 팽팽한 영국 북부의 작은 마을. ...,NaN,삭제,NaN
250,7032,리벤지,바비인형의 외모를 가진 제니퍼는 애인의 사냥 행사에 동행하고 애인 친구들의 질퍽한 ...,NaN,삭제,NaN
253,7127,런,가장 안전했던 그곳이 가장 위험한 공간이 된다! 태어날 때부터 장애 때문에 휠체어를...,NaN,삭제,NaN
326,32497,러브레터,오늘에서야 다시 꺼내봅니다.,NaN,삭제,NaN
424,55267,댄 인 러브,좌충우돌 사춘기 세 딸을 키우는 ‘댄’(스티브 카렐)은 나홀로 행복한(?) 가정꾸리...,NaN,삭제,NaN
615,88179,원 데이,“내일이 어떻게 되든 오늘은 함께 있잖아”,NaN,삭제,NaN
832,142184,도가니,나는 이 사건을,NaN,삭제,NaN
1173,300941,최종병기 활,"50만 포로가 끌려간 병자호란, 치열했던 전쟁의 한 복판에 역사가 기록하지 못한 위...",NaN,삭제,NaN
1184,300978,엑스맨 탄생: 울버린,그들의 거대한 서막이 시작된다!,NaN,삭제,NaN

In [227]:
# 삭제 되는 영화 아이디 개수
remove_mids = mdf[mdf['삭제여부']=='삭제'].movieId.tolist()
len(remove_mids)

11

In [228]:
# 삭제 전 shape
print(movie_df.shape)
# 삭제 후 shape
print(movie_df[~movie_df.movieId.isin(remove_mids)].shape)

(1192, 13)
(1181, 13)

In [229]:
# 삭제 적용
movie_df2 = movie_df[~movie_df.movieId.isin(remove_mids)]

In [233]:
# 삭제된 영화에 나온 캐릭터들도 모두 삭제
character_df2 = character_df2[~character_df2.movieId.isin(remove_mids)]

In [234]:
character_df2.shape

(2830, 12)

In [239]:
character_info_df2.loc[0,'desc'] = '모아나는 태평양의 섬 마셰이의 공주로, 자신의 섬을 위해 여행을 떠나는 주인공이다. 그녀는 자신의 역할을 맡기기 위해 열정적이고 용감한 성격을 가지고 있으며, 자신의 역할을 수행하기 위해 도전을 받아들이고 자신의 믿음과 신념을 지키는 것을 중요하게 생각한다. 그녀는 자신의 역할을 수행하기 위해 다양한 위험과 어려움을 맞이하며, 자신의 역할에 대한 책임감과 용기를 보여준다.'

In [248]:
character_info_df2[character_info_df2.name=='압네가션']

      CharacterId  name                                               desc
2125        13115  압네가션  압네가션은 디버그란트 속 세 팩션 중 하나로, 자기주장을 줄이고 자신의 이익보다는 ...

In [250]:
character_df2.shape, character_info_df2.shape

((2830, 12), (2867, 3))

In [251]:
character_df2 = character_df2[character_df2.CharacterId!=13115]
character_info_df2 = character_info_df2[character_info_df2.name!='압네가션']

In [252]:
character_df2.shape, character_info_df2.shape

((2829, 12), (2866, 3))

In [ ]:
character_df2
movie_df2

In [147]:
watch_link2 = link2

In [253]:
character_df2.to_pickle(pickle_path / '230213_character_movie_merge.pickle')
movie_df2.to_pickle(pickle_path / '230213_Popular_movie_1192_cwj.pickle')
watch_link2.to_pickle(pickle_path / '230213_watch_link2_4679_rows.pickle')
character_info_df2.to_pickle(pickle_path / '230213_processed_ko_cha_info.pickle')

character_df2.to_pickle(pickle_path2 / '230213_character_movie_merge.pickle')
movie_df2.to_pickle(pickle_path2 / '230213_Popular_movie_1192_cwj.pickle')
watch_link2.to_pickle(pickle_path2 / '230213_watch_link2_4679_rows.pickle')
character_info_df2.to_pickle(pickle_path2 / '230213_processed_ko_cha_info.pickle')