In [1]:
import pandas as pd

In [37]:
mdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_1192_cwj.pickle')
cdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_character_2867_cwj.pickle')
cdfm = pd.read_pickle('../../Utils/Pickle/230203_character_movie_merge.pickle')

In [40]:
cdfm[cdfm.ko_title=='내 깡패 같은 애인'].merge(mdf[['movieId','ko_plot']], on='movieId')

,CharacterId,Character,vote,MBTI,Enneagram,movieId,contents_year,Contents,ko_title,rating,npop,ko_plot
0,7505,CIA Agent Sheldon Jeffrey Sands,19,INTJ,5w6,163.0,2010,Desperado,내 깡패 같은 애인,3.3,230000,"싸움 하나 제대로 못하지만, 입심 하난 끝내주는 삼류건달 동철(박중훈). 예전만큼 ..."

In [41]:
cdfm[cdfm.ko_title=='박수건달'].merge(mdf[['movieId','ko_plot']], on='movieId')

,CharacterId,Character,vote,MBTI,Enneagram,movieId,contents_year,Contents,ko_title,rating,npop,ko_plot
0,3885,Jonathan Breech,14,ENFP,4w3,4724.0,2012,On The Edge,박수건달,3.1,490000,"보스에게 신임 받고, 동생들에게 사랑 받는 엘리트 건달 광호(박신양). 남 부러울 ..."