In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('no_charactor_3229_plus_side_info_plus_korean_genre_and_plot.csv')

In [9]:
df[df.ko_genres=="장르 정보 없음"].genres.value_counts()

Series([], Name: genres, dtype: int64)

In [12]:
df[df.ko_genres=="장르 정보 없음"]['plot'].value_counts()

["GREETINGS AND SALUTATIONS. Cate and Lori decided to kill a bottle of wine and dish on 1989's cult classic Heathers starring Winona Ryder, Christian Slater, and Shannen Doherty.", 'GREETINGS AND SALUTATIONS. Cate and Lori decided to kill a bottle of wine and dish on 1989\'s cult classic Heathers starring Winona Ryder, Christian Slater, and Shannen Doherty. It\'s no secret this film is "so very" with its dark humor and colorful characters, so the good time gals invite you to join their clique as they get into the red scrunchie of it all.']    1
Name: plot, dtype: int64

In [18]:
df2 = df[['movieId','ko_genres','ko_plot']].copy()
df2.movieId=df2.movieId.astype(int)
df2

,movieId,ko_genres,ko_plot
0,73141,"'애니메이션', '어드벤처', '코미디', '가족', '판타지', '뮤지컬'","고대 폴리네시아에서, 반신 마우이가 발생한 끔찍한 저주가 모아 나 섬에 도착했을 때..."
1,122470,"'애니메이션', '어드벤처', '코미디', '드라마', '가족', '판타지'","젊은 라일리가 중서부 생활에서 뿌리를 내리고 샌프란시스코로 이사 한 후, 그녀의 감..."
2,152081,"'애니메이션', '어드벤처', '코미디', '범죄', '가족', '미스터리'",의인화 동물 도시에서 신인 토끼 경찰과 냉소적 인 사기 아티스트 폭스는 음모를 밝히...
3,4447,"'코미디', '로맨",줄거리 정보 없음
4,1246,"'코미디', '드라",매버릭 교사 인 존 키팅 (John Keating)은시를 사용하여 그의 기숙 학교 ...
...,...,...,...
3224,27482,장르 정보 없음,줄거리 정보 없음
3225,76208,장르 정보 없음,줄거리 정보 없음
3226,177115,"'전기', '드라마', '역",기업 변호사 변호사는 오랫동안 오염의 역사를 드러내는 화학 회사에 대한 환경 소송을...
3227,68269,"'전기', '드라마', '역사', '로맨스'","빅토리아 여왕의 통치의 첫해와 앨버트 왕자와의 지속적인 로맨스의 드라마화.""그녀의 ..."
3228,118880,장르 정보 없음,줄거리 정보 없음

In [34]:
!ls

Genre_Processing.ipynb
MBTI_Character_duplicate_processing.ipynb
MBTI_X_Enneagram_18x18_matrix.ipynb
MBTI_merge_movieLens_3229_movie.csv
Recommend_Data_Processing.ipynb
enneagram_similarity.csv
mbti_ml_match_dict.pkl
no_charactor_3229_plus_side_info_plus_korean_genre_and_plot.csv

In [36]:
!pwd

/opt/ml/project/Data/DataProcessing

In [35]:
df2.to_csv('movie_genre_plot.csv',index=False)

In [3]:
df = pd.read_csv('movie_genre_plot.csv')

In [4]:
df

,movieId,ko_genres,ko_plot
0,73141,"'애니메이션', '어드벤처', '코미디', '가족', '판타지', '뮤지컬'","고대 폴리네시아에서, 반신 마우이가 발생한 끔찍한 저주가 모아 나 섬에 도착했을 때..."
1,122470,"'애니메이션', '어드벤처', '코미디', '드라마', '가족', '판타지'","젊은 라일리가 중서부 생활에서 뿌리를 내리고 샌프란시스코로 이사 한 후, 그녀의 감..."
2,152081,"'애니메이션', '어드벤처', '코미디', '범죄', '가족', '미스터리'",의인화 동물 도시에서 신인 토끼 경찰과 냉소적 인 사기 아티스트 폭스는 음모를 밝히...
3,4447,"'코미디', '로맨",줄거리 정보 없음
4,1246,"'코미디', '드라",매버릭 교사 인 존 키팅 (John Keating)은시를 사용하여 그의 기숙 학교 ...
...,...,...,...
3224,27482,장르 정보 없음,줄거리 정보 없음
3225,76208,장르 정보 없음,줄거리 정보 없음
3226,177115,"'전기', '드라마', '역",기업 변호사 변호사는 오랫동안 오염의 역사를 드러내는 화학 회사에 대한 환경 소송을...
3227,68269,"'전기', '드라마', '역사', '로맨스'","빅토리아 여왕의 통치의 첫해와 앨버트 왕자와의 지속적인 로맨스의 드라마화.""그녀의 ..."
3228,118880,장르 정보 없음,줄거리 정보 없음

In [5]:
df.to_pickle('/opt/ml/project/Utils/Pickle/movie_genre_plot.pickle')

In [26]:
import re

def remove_special_chars(string, except_chars=",\uAC00-\uD7A3"):
    pattern = "[^a-zA-Z0-9 " + except_chars + "]"
    return re.sub(pattern, "", string)

In [27]:
df2.ko_genres.map(remove_special_chars)

0       애니메이션, 어드벤처, 코미디, 가족, 판타지, 뮤지컬
1       애니메이션, 어드벤처, 코미디, 드라마, 가족, 판타지
2       애니메이션, 어드벤처, 코미디, 범죄, 가족, 미스터리
3                              코미디, 로맨
4                              코미디, 드라
                     ...
3224                          장르 정보 없음
3225                          장르 정보 없음
3226                        전기, 드라마, 역
3227                  전기, 드라마, 역사, 로맨스
3228                          장르 정보 없음
Name: ko_genres, Length: 3229, dtype: object

In [22]:
# Example usage
string = "Hello, World! How are you?"
new_string = remove_special_chars(string)
print(new_string)  # "Hello, World How are you"

Hello, World How are you