In [16]:
import pandas as pd

mdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_1192_cwj.pickle')
cdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_character_2867_cwj.pickle')
cdfm = pd.read_pickle('../../Utils/Pickle/230203_character_movie_merge.pickle')

In [3]:
mdf[(mdf['contents_year'] <= 2000) & (mdf['npop'] >= 300000)].shape

(34, 13)

In [4]:
mdf[(mdf['contents_year'] >= 2008) & (mdf['npop'] >= 100000)].shape

(277, 13)

In [35]:
mdf_select = mdf[((mdf['contents_year'] >= 2008) & (mdf['npop'] >= 100000)) | \
        ((mdf['contents_year'] <= 2000) & (mdf['npop'] >= 300000)) | \
        ((mdf['contents_year'] >= 2019) & (mdf['npop'] >= 10000)) |  \
        (mdf.country=="한국")  ]

In [42]:
mdf[mdf.country=='한국'].shape

(57, 13)

In [45]:
mdf[(mdf.country.str.contains('한국')) & (mdf.country!='한국')]

,Contents,ko_title,contents_year,country,ko_genre,ko_plot,rating,npop,genres,plot,directors,actors,movieId
201,Hotel Transylvania (2012),몬스터 호텔,2012,"미국,한국,캐나다",애니메이션/코미디/가족/판타지/키즈,인간만 보면 벌벌~,3.6,180000,"'Animation', 'Adventure', 'Comedy', 'Family', ...","Dracula, who operates a high-end resort away f...",'Genndy Tartakovsky',"'Adam Sandler', 'Andy Samberg', 'Selena Gomez'...",97225
408,On the Beach at Night Alone (2017),밤의 해변에서 혼자,2017,"한국,독일",드라마,외국 어느 도시. 여배우인 영희는 한국에서 유부남과의 만남이 주는 스트레스를 이기지...,3.4,30000,'Drama',NaN,'Hong Sang-soo',"'Kim Min-hee', 'Young-hwa Seo', 'Jae-yeong Jeo...",178477
428,Okja (2017),옥자,2017,"미국,한국",드라마/모험/액션,강원도 산골 소녀 ‘미자’(안서현)에게 옥자는 10년 간 함께 자란 둘도 없는 친구...,3.5,160000,"'Action', 'Adventure', 'Drama', 'Sci-Fi'",A young girl risks everything to prevent a pow...,'Bong Joon Ho',"'Tilda Swinton', 'Sheena Kamal', 'Michael Mitt...",171765
973,Knowing (2009),호우시절,2009,"한국,중국",로맨스/드라마,"건설 중장비 회사 팀장 박동하, 중국 출장 첫날, 우연히 관광 가이드를 하고 있는 ...",3.2,40000,"'Action', 'Mystery', 'Sci-Fi', 'Thriller'",M.I.T. professor John Koestler links a mysteri...,'Alex Proyas',"'Nicolas Cage', 'Chandler Canterbury', 'Rose B...",67197
1080,Happy Together,해피 투게더 리마스터링,1997,"홍콩,일본,한국",드라마/로맨스,“우리 다시 시작하자”,4.0,100000,"'Drama', 'Romance'",NaN,'Kar-Wai Wong',"'Leslie Cheung', 'Tony Chiu-Wai Leung', 'Chang...",4601

In [36]:
mdf_select.shape

(443, 13)

In [21]:
cdfm = cdfm.merge(cdf[['CharacterId','img_src']],on='CharacterId')

In [23]:
cdfm.to_pickle('../../Utils/Pickle/230203_character_movie_merge.pickle')

In [37]:
df = pd.read_pickle('../../Utils/Pickle/movie_random_select_final.pickle')

In [40]:
mdf[['movieId','country']]

      movieId   country
0       73141        미국
1      122470        미국
2      152081        미국
3        4447        미국
4        1246        미국
...       ...       ...
1187   300997        미국
1188   300998        미국
1189   300999  미국,독일,영국
1190   301010    미국,스위스
1191   301014        미국

[1192 rows x 2 columns]

In [46]:
df.merge(mdf[['movieId','country']],on='movieId').to_pickle('../../Utils/Pickle/movie_random_select_final2.pickle')