In [16]:
import pandas as pd

mdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_1192_cwj.pickle')
cdf = pd.read_pickle('../../Utils/Pickle/230130_Popular_movie_character_2867_cwj.pickle')
cdfm = pd.read_pickle('../../Utils/Pickle/230203_character_movie_merge.pickle')

In [3]:
mdf[(mdf['contents_year'] <= 2000) & (mdf['npop'] >= 300000)].shape

(34, 13)

In [4]:
mdf[(mdf['contents_year'] >= 2008) & (mdf['npop'] >= 100000)].shape

(277, 13)

In [48]:
mdf_select = mdf[((mdf['contents_year'] >= 2008) & (mdf['npop'] >= 100000)) | \
        ((mdf['contents_year'] <= 2000) & (mdf['npop'] >= 300000)) | \
        ((mdf['contents_year'] >= 2019) & (mdf['npop'] >= 10000)) |  \
        (mdf.country=="한국")  ]

In [49]:
mdf_select.shape

(443, 13)

In [42]:
mdf[mdf.country=='한국'].shape

(57, 13)

In [47]:
mdf[(mdf.country.str.contains('한국'))]

,Contents,ko_title,contents_year,country,ko_genre,ko_plot,rating,npop,genres,plot,directors,actors,movieId
43,Run (2020),런 온,2020,한국,드라마/TV드라마,"같은 한국말을 쓰면서도 소통이 어려운 시대, 서로 다른 세계에 살던 사람들이 각자의...",3.8,10000,"'Mystery', 'Thriller'",A homeschooled teenager begins to suspect her ...,'Aneesh Chaganty',"'Sarah Paulson', 'Kiera Allen', 'Sara Sohn', '...",7127
72,Z-O-M-B-I-E-S (2018),기묘한 가족,2018,한국,코미디,망해버린 주유소의 트러블메이커 가장 '만덕'은 우연히 만난 좀비를 집안에 들인다. ...,3.0,20000,"'Adventure', 'Family', 'Fantasy', 'Musical', '...",NaN,'Paul Hoen',"'Milo Manheim', 'Meg Donnelly', 'Trevor Tordjm...",300018
96,Split (2016),스플릿,2016,한국,드라마,과거 볼링계의 전설이라 불리며 이름을 날리던 ‘철종’은 불운의 사고로 모든 것을 잃...,3.3,70000,"'Horror', 'Thriller'",NaN,'M. Night Shyamalan',"'James McAvoy', 'Anya Taylor-Joy', 'Betty Buck...",166534
125,Parasite (2019),기생충,2019,한국,드라마,“폐 끼치고 싶진 않았어요”,4.3,1120000,"'Drama', 'Thriller'",Greed and class discrimination threaten the ne...,'Bong Joon Ho',"'Song Kang-ho', 'Lee Sun-kyun', 'Cho Yeo-jeong...",2256
141,Seoul Vibe,서울대작전,2022,한국,액션/모험,전 세계가 열광하는 올림픽을 앞둔 1988년 서울. 패션은 올드 스쿨! 음악은 감성...,1.9,10000,"'Action', 'Comedy', 'Crime', 'Drama'",NaN,'Hyun-Sung Moon',"'Yoo Ah-in', 'Go Kyung-Pyo', 'Lee Kyoo-hyung',...",300058
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,A Violent Prosecutor,검사외전,2015,한국,드라마/액션/코미디/범죄,"진실 앞에 무대뽀, 다혈질 검사,",3.7,1260000,"'Action', 'Crime', 'Thriller'",NaN,'Il-Hyeong Lee',"'Hwang Jung-min', 'Dong-won Gang', 'Kim Byeong...",159419
1143,THE OUTLAWS (2017),범죄도시,2017,한국,범죄/액션,"“오늘 밤, 다 쓸어버린다!” 2004년 서울… 하얼빈에서 넘어와 단숨에 기존 조직...",4.0,780000,"'Action', 'Crime', 'Thriller'","Based on real events, this crime action film d...",'Yoon-Seong Kang',"'Ma Dong-seok', 'Yoon Kyesang', 'Jo Jae-yoon',...",191873
1152,Offender,범죄소년,2012,한국,드라마/범죄,보호관찰중인 범죄소년 장지구(서영주)는 죽음을 앞두고 있는 할아버지와 단 둘이 살아...,3.0,10000,"'Action', 'Crime', 'Drama', 'Thriller'",Justice needs to be served at Britain's most n...,'Ron Scalpello',"'Joe Cole', 'English Frank', 'Kimberley Nixon'...",99594
1161,Tune in for Love (2019),유열의 음악앨범,2019,한국,로맨스/드라마,"""오늘 기적이 일어났어요.""",2.9,30000,"'Drama', 'Romance'","In 1994 during the IMF crisis, two people meet...",'Ji-woo Jung',"'Kim Go-eun', 'Jung Hae-in', 'Park Hae-joon', ...",300915
1173,Arrow,최종병기 활,2011,한국,시대극/액션/전쟁,"50만 포로가 끌려간 병자호란, 치열했던 전쟁의 한 복판에 역사가 기록하지 못한 위...",3.6,670000,"'Action', 'Adventure', 'Crime', 'Drama', 'Myst...",Spoiled billionaire playboy Oliver Queen is mi...,NaN,"'David Ramsey', 'Stephen Amell', 'Emily Bett R...",300941

In [36]:
mdf_select.shape

(443, 13)

In [21]:
cdfm = cdfm.merge(cdf[['CharacterId','img_src']],on='CharacterId')

In [23]:
cdfm.to_pickle('../../Utils/Pickle/230203_character_movie_merge.pickle')

In [37]:
df = pd.read_pickle('../../Utils/Pickle/movie_random_select_final.pickle')

In [40]:
mdf[['movieId','country']]

      movieId   country
0       73141        미국
1      122470        미국
2      152081        미국
3        4447        미국
4        1246        미국
...       ...       ...
1187   300997        미국
1188   300998        미국
1189   300999  미국,독일,영국
1190   301010    미국,스위스
1191   301014        미국

[1192 rows x 2 columns]

In [46]:
df.merge(mdf[['movieId','country']],on='movieId').to_pickle('../../Utils/Pickle/movie_random_select_final2.pickle')