## 인덱스 페이지 - 인기있는 캐릭터 Top 10
### contents_year, npop, Votes 를 이용해 스코어링 적용 후 정렬해서 Top 10 추출

In [1]:
import pandas as pd

In [4]:
data_movie = pd.read_csv("/opt/ml/input/data/230129_Popular_movie_1192_cwj.csv")
data_movie = data_movie[['movieId', 'Contents', 'contents_year', 'npop']]
data_movie.head()

   movieId                   Contents  contents_year    npop
0    73141               Moana (2016)           2016  210000
1   122470          Inside Out (2015)           2015  790000
2   152081            Zootopia (2016)           2016  920000
3     4447      Legally Blonde (2001)           2001  300000
4     1246  Dead Poets Society (1989)           1989  630000

In [5]:
data_character = pd.read_csv("/opt/ml/input/Data/DataProcessing/MBTI/Popular_movie_character_2867_with_MBTI2_hashtag.csv", index_col=0)
data_character = data_character[['CharacterId', 'Character', 'movieId', 'Votes']]
data_character.head()

   CharacterId       Character  movieId     Votes
0            0  Moana Waialiki    73141  2.7k/477
1            2             Joy   122470  2.5k/358
2            3      Judy Hopps   152081  2.3k/350
3            4      Elle Woods     4447  1.9k/227
4            5      Neil Perry     1246  1.7k/222

In [6]:
data = data_movie.merge(data_character, on='movieId', how='inner')
data

,movieId,Contents,contents_year,npop,CharacterId,Character,Votes
0,73141,Moana (2016),2016,210000,0,Moana Waialiki,2.7k/477
1,73141,Moana (2016),2016,210000,19499,Maui,634/66
2,73141,Moana (2016),2016,210000,23025,Grandma Tala,295/25
3,122470,Inside Out (2015),2015,790000,2,Joy,2.5k/358
4,122470,Inside Out (2015),2015,790000,1281,Sadness,2.1k/276
...,...,...,...,...,...,...,...
2862,300999,Fantastic Four (2015),2015,40000,23811,"Sue Storm ""Invisible Woman""",16/0
2863,301010,Daredevil (2003),2003,30000,7396,Matt Murdock / Daredevil,25/0
2864,301014,Superman (1978 Franchise),2016,120000,618,Jor-El,17/0
2865,301014,Superman (1978 Franchise),2016,120000,13312,Superman / Clark Kent,71/7
2866,301014,Superman (1978 Franchise),2016,120000,20257,Lois Lane,30/1

연도  >= 2018

In [14]:
data = data[data['contents_year'] >= 2018]

인기도 >= 20000

In [21]:
data = data[data['npop'] >= 20000]

In [22]:
data.sort_values('npop', ascending=False)

,movieId,Contents,contents_year,npop,CharacterId,Character,Votes
2687,199992,Extreme Job (2019),2019,1270000,17437,Chief Go,12/0
2688,199992,Extreme Job (2019),2019,1270000,20853,Detective Jang,14/0
369,2256,Parasite (2019),2019,1120000,21316,Kim Ki-jeong,1.1k/64
368,2256,Parasite (2019),2019,1120000,17699,Kim Ki-woo,550/55
367,2256,Parasite (2019),2019,1120000,14670,Park Yeon-gyo,545/16
...,...,...,...,...,...,...,...
1407,187723,Set It Up (2018),2018,20000,21202,Rick Otis,10/0
1518,67657,The Gray Man,2022,20000,5554,Lloyd Hansen,173/13
1519,67657,The Gray Man,2022,20000,10138,Dani Miranda,40/1
1520,67657,The Gray Man,2022,20000,21462,Court Gentry / Sierra Six,145/12
1405,187723,Set It Up (2018),2018,20000,3070,Harper Moore,109/15

'Votes' featuer 스케일링을 위한 컬럼 전처리

In [25]:
def make_votes(vote):
    vote = vote[:vote.index('/')]
    if vote[-1] == 'k':
        vote = int(vote[:-1].replace('.','')+'000')
    else:
        vote = int(vote)
    return vote

In [28]:
data['clean_votes'] = data['Votes'].apply(lambda x: make_votes(x))

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [38]:
scaler = MinMaxScaler()
scaler.fit(data['clean_votes'].values.reshape(-1, 1))
scaled = scaler.transform(data['clean_votes'].values.reshape(-1, 1))
scaled

array([[3.28675161e-01],
       [3.28675161e-01],
       [6.16385806e-01],
       [1.77969585e-01],
       [5.20482258e-01],
       [8.49294424e-01],
       [9.19304014e-03],
       [1.64269078e-01],
       [1.11933142e-02],
       [6.98725853e-03],
       [1.78106590e-03],
       [3.23331963e-03],
       [4.68557337e-03],
       [1.17139334e-02],
       [2.75380189e-03],
       [4.08275106e-03],
       [8.45321277e-03],
       [3.58953281e-03],
       [3.80874092e-03],
       [1.91670092e-01],
       [4.83627894e-03],
       [3.78133991e-03],
       [3.79504042e-03],
       [4.21975613e-03],
       [6.83655295e-02],
       [4.09645157e-02],
       [1.00000000e+00],
       [3.08261406e-03],
       [4.52116728e-04],
       [6.30223318e-04],
       [3.14974654e-01],
       [1.15084258e-02],
       [3.14974654e-01],
       [2.38388820e-03],
       [1.35635018e-03],
       [1.87696945e-03],
       [3.00041102e-03],
       [3.27442115e-03],
       [5.19249212e-03],
       [2.17838060e-03],
       [5.89121798e-04],
       [1.75366489e-03],
       [5.52130429e-03],
       [1.35635018e-02],
       [1.50568571e-01],
       [1.86326894e-03],
       [1.75366489e-03],
       [1.32894917e-03],
       [1.76736539e-03],
       [2.93190848e-03],
       [3.90464447e-03],
       [1.12344157e-03],
       [8.76832443e-04],
       [8.35730922e-04],
       [1.91670092e-01],
       [9.76846143e-03],
       [6.67214687e-03],
       [7.67228387e-04],
       [8.90532950e-04],
       [1.64406083e-03],
       [1.23304562e-03],
       [1.39745171e-03],
       [1.72626387e-03],
       [7.12426360e-04],
       [6.02822304e-04],
       [6.85025346e-04],
       [4.79517742e-04],
       [2.54829429e-03],
       [2.35648719e-03],
       [5.45280175e-03],
       [1.93177148e-03],
       [4.52116728e-04],
       [7.39827374e-04],
       [7.80928894e-04],
       [1.04123853e-03],
       [1.75366489e-03],
       [8.76832443e-04],
       [1.21523496e-02],
       [1.04260858e-02],
       [8.42581176e-03],
       [2.71270037e-03],
       [1.95917249e-03],
       [1.90437046e-03],
       [7.32977120e-03],
       [7.39827374e-03],
       [1.50568571e-01],
       [2.74010138e-04],
       [9.59035484e-05],
       [1.78106590e-04],
       [6.30223318e-04],
       [2.50719277e-03],
       [1.49335525e-03],
       [3.79504042e-03],
       [3.89094396e-03],
       [8.22030415e-04],
       [2.19208111e-04],
       [1.91807097e-04],
       [2.74010138e-05],
       [2.60309631e-04],
       [1.64406083e-04],
       [2.19208111e-04],
       [4.11015208e-05],
       [0.00000000e+00],
       [1.04123853e-03],
       [1.37005069e-05],
       [7.12426360e-04],
       [1.50705576e-04],
       [7.67228387e-04],
       [8.22030415e-04],
       [7.39827374e-04],
       [4.65817235e-04],
       [1.37005069e-05],
       [2.60172626e-01],
       [2.32771613e-01],
       [2.60172626e-01],
       [2.74010138e-05],
       [1.37005069e-04],
       [4.11015208e-05],
       [3.01411152e-04],
       [5.61720784e-04],
       [1.53445677e-03],
       [1.23304562e-03],
       [1.17824360e-03],
       [6.64474586e-03],
       [7.69968489e-03],
       [6.90505549e-03],
       [1.39745171e-03],
       [1.00013701e-03],
       [7.26126867e-04],
       [3.91834498e-03],
       [2.08247705e-03],
       [2.90450747e-03],
       [4.38279216e-01],
       [1.20975476e-02],
       [1.50568571e-01],
       [1.57555830e-03],
       [3.34292369e-03],
       [2.32908618e-03],
       [6.71324839e-04],
       [7.94629401e-04],
       [1.02753802e-03],
       [6.43923825e-04],
       [6.43923825e-04],
       [4.52116728e-04],
       [1.78106590e-04],
       [7.39827374e-04],
       [1.13714207e-03],
       [9.86436498e-04],
       [3.56213180e-04],
       [1.35635018e-03],
       [3.04151254e-03],
       [1.34264968e-03],
       [4.11015208e-04],
       [3.42512673e-04],
       [3.01274147e-01],
       [1.35635018e-02],
       [6.31593369e-03],
       [1.37005069e-04],
       [1.78106590e-04],
       [5.48020277e-05],
       [1.23304562e-04],
       [2.60309631e-04],
       [7.80928894e-04],
       [8.22030415e-05],
       [9.04233457e-04],
       [8.22030415e-05],
       [1.50705576e-04],
       [1.37005069e-04],
       [1.90437046e-03],
       [2.00027401e-03],
       [1.90437046e-03],
       [2.74010138e-05],
       [2.05507604e-04],
       [2.28798466e-03],
       [4.08275106e-03],
       [2.08247705e-03],
       [3.27442115e-03],
       [1.41115221e-03],
       [4.34306069e-03],
       [2.63049733e-03],
       [6.16522811e-04],
       [1.60295931e-03],
       [1.35635018e-03],
       [3.15111659e-04],
       [0.00000000e+00],
       [5.27469516e-03],
       [1.07411974e-02],
       [6.90505549e-03],
       [2.50719277e-03],
       [4.43896424e-03],
       [6.15152761e-03],
       [2.23318263e-03],
       [4.11015208e-04],
       [1.84956843e-03],
       [3.15111659e-04],
       [9.86436498e-04],
       [1.91807097e-04],
       [7.67228387e-04],
       [1.34264968e-03],
       [3.01411152e-04],
       [2.32908618e-04],
       [8.08329908e-04],
       [1.21934512e-03],
       [1.95917249e-03],
       [9.31634470e-04],
       [1.41115221e-03],
       [1.64406083e-04],
       [1.64406083e-04],
       [2.87710645e-04],
       [8.22030415e-05],
       [2.05507604e-04],
       [9.59035484e-05],
       [8.22030415e-05],
       [1.09604055e-04],
       [6.85025346e-05],
       [1.37005069e-04],
       [5.61720784e-04],
       [6.71324839e-04],
       [3.42512673e-04],
       [3.42512673e-04],
       [1.30565831e-02],
       [4.53486779e-03],
       [1.26318674e-02],
       [4.01424853e-03],
       [2.23318263e-03],
       [2.26058364e-03],
       [3.16481710e-03],
       [5.48020277e-03],
       [2.39758871e-03],
       [8.22030415e-04],
       [1.21934512e-03],
       [2.43869023e-03],
       [2.01397452e-03],
       [8.49431429e-04],
       [6.71324839e-04],
       [3.97314701e-04],
       [2.87710645e-04],
       [2.87710645e-04],
       [3.28812166e-04],
       [2.76750240e-03],
       [4.11015208e-05],
       [1.64406083e-04],
       [2.54829429e-03],
       [6.30223318e-04],
       [2.90450747e-03],
       [1.76736539e-03],
       [5.75421291e-04],
       [7.12426360e-04],
       [9.72735991e-04],
       [1.30154816e-03],
       [2.12357857e-03],
       [8.22030415e-05],
       [4.52116728e-04],
       [6.85025346e-05],
       [1.37005069e-05],
       [2.00027401e-03],
       [4.24715714e-04],
       [1.53445677e-03],
       [9.59035484e-04],
       [8.63131936e-04],
       [4.65817235e-04],
       [5.20619263e-04],
       [4.52116728e-04],
       [1.37005069e-04],
       [4.11015208e-04],
       [3.01411152e-04],
       [5.75421291e-04],
       [1.78106590e-04],
       [4.11015208e-04],
       [2.05507604e-04],
       [1.78106590e-04],
       [7.12426360e-04],
       [1.61665982e-03],
       [2.02767502e-03],
       [2.17838060e-03],
       [2.74010138e-05],
       [2.20578161e-03],
       [1.97287300e-03],
       [5.28839567e-03],
       [9.31634470e-04],
       [2.05507604e-04],
       [9.86436498e-04],
       [4.24715714e-04],
       [2.60309631e-04],
       [2.46609125e-04],
       [1.50705576e-04],
       [1.91807097e-04],
       [1.23304562e-04],
       [2.34278668e-03],
       [1.06863954e-03],
       [1.09604055e-04],
       [1.37005069e-05],
       [9.59035484e-05],
       [8.22030415e-05],
       [0.00000000e+00],
       [2.63049733e-03],
       [4.79517742e-04],
       [2.89080696e-03],
       [2.16468009e-03],
       [6.57624332e-04],
       [6.43923825e-04],
       [2.60309631e-03],
       [3.37032470e-03],
       [8.22030415e-04],
       [4.11015208e-05],
       [6.85025346e-05],
       [7.01465954e-03],
       [1.37005069e-05],
       [6.16522811e-04],
       [3.95944650e-03],
       [4.79517742e-04],
       [8.22030415e-05],
       [0.00000000e+00],
       [4.93218249e-04],
       [1.43855323e-03],
       [3.56213180e-04],
       [1.64406083e-04],
       [1.64406083e-04],
       [8.22030415e-04],
       [1.91807097e-04],
       [1.15084258e-03],
       [1.91807097e-04],
       [1.61665982e-03],
       [5.48020277e-05],
       [5.48020277e-04],
       [1.72626387e-03],
       [9.59035484e-05],
       [1.37005069e-05],
       [4.65817235e-04],
       [4.93218249e-04],
       [1.94547198e-03],
       [2.79490341e-03],
       [2.32908618e-04],
       [1.78106590e-04],
       [2.10987807e-03],
       [1.95917249e-03],
       [4.38416221e-04],
       [2.74010138e-05],
       [5.48020277e-05],
       [7.94629401e-04],
       [1.37005069e-05],
       [9.59035484e-05],
       [1.09604055e-04],
       [1.15769283e-02],
       [1.91670092e-01],
       [7.69968489e-03],
       [3.28675161e-01],
       [3.83477189e-01],
       [1.77969585e-01],
       [2.86340595e-03],
       [7.34347171e-03],
       [1.28099740e-02],
       [4.38416221e-04],
       [3.01411152e-04],
       [1.91807097e-04],
       [1.04945883e-02],
       [1.84956843e-03],
       [4.20605562e-03],
       [5.20482258e-01],
       [2.31538567e-03],
       [3.94574599e-03],
       [2.63049733e-03],
       [4.79517742e-04],
       [4.38416221e-04]])

In [41]:
data['scaled_votes'] = scaled

In [42]:
data

,movieId,Contents,contents_year,npop,CharacterId,Character,Votes,clean_votes,scaled_votes
18,184593,Star Wars,2019,20000,8136,Leia Organa,2.4k/145,24000,0.328675
19,184593,Star Wars,2019,20000,9704,Darth Vader,2.4k/647,24000,0.328675
20,184593,Star Wars,2019,20000,16083,Anakin Skywalker,4.5k/1.1k,45000,0.616386
21,75395,Frozen (Franchise),2019,170000,11,Hans Westergaard,1.3k/211,13000,0.177970
22,75395,Frozen (Franchise),2019,170000,2848,Anna,3.8k/439,38000,0.520482
...,...,...,...,...,...,...,...,...,...
2840,300975,Joker (2019),2019,190000,11407,Thomas Wayne,179/18,179,0.002315
2841,300975,Joker (2019),2019,190000,19549,Murray Franklin,298/71,298,0.003946
2842,300976,Doctor Strange in the Multiverse of Madness (2...,2022,80000,1427,Wanda Maximoff “Scarlet Witch” (Universe-838),202/5,202,0.002630
2843,300976,Doctor Strange in the Multiverse of Madness (2...,2022,80000,8549,Clea,45/10,45,0.000480
2844,300976,Doctor Strange in the Multiverse of Madness (2...,2022,80000,23376,Charles Xavier “Professor X” (Earth-838),42/1,42,0.000438

In [43]:
data.sort_values('scaled_votes', ascending=False)

,movieId,Contents,contents_year,npop,CharacterId,Character,Votes,clean_votes,scaled_votes
68,300005,Encanto (2021),2021,30000,13078,Bruno Madrigal,7.3k/1.5k,73000,1.000000
23,75395,Frozen (Franchise),2019,170000,22947,Elsa,6.2k/2.9k,62000,0.849294
20,184593,Star Wars,2019,20000,16083,Anakin Skywalker,4.5k/1.1k,45000,0.616386
22,75395,Frozen (Franchise),2019,170000,2848,Anna,3.8k/439,38000,0.520482
2839,300975,Joker (2019),2019,190000,1276,"Arthur Fleck ""Joker""",3.8k/1.1k,38000,0.520482
...,...,...,...,...,...,...,...,...,...
2340,178843,Long Shot (2019),2019,20000,12519,Maggie Millikin,11/0,11,0.000014
547,300105,Nomadland (2020),2020,20000,14221,Linda,10/0,10,0.000000
1407,187723,Set It Up (2018),2018,20000,21202,Rick Otis,10/0,10,0.000000
2374,300637,Escape from Mogadishu,2020,100000,9197,Tae joon-gi,10/0,10,0.000000
2500,121640,Night in Paradise,2020,30000,21146,Director Ma,10/0,10,0.000000