In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('MBTI_merge_movieLens_3229_movie.csv')

In [7]:
df

,Unnamed: 0,Character,Contents,Votes,MBTI,Enneagram,category,img_src,Page,title,movieId
0,0,Moana Waialiki,Moana (2016),2.7k/477,ENFJ,7w6,movies,https://static1.personality-database.com/profi...,1,moana,73141
1,1,Joy,Inside Out (2015),2.5k/358,ENFJ,7w6,movies,https://static1.personality-database.com/profi...,1,inside out,122470
2,2,Judy Hopps,Zootopia (2016),2.3k/350,ENFJ,1w2,movies,https://static1.personality-database.com/profi...,1,zootopia,152081
3,3,Elle Woods,Legally Blonde (2001),1.9k/227,ENFJ,3w2,movies,https://static1.personality-database.com/profi...,1,legally blonde,4447
4,4,Neil Perry,Dead Poets Society (1989),1.7k/222,ENFJ,4w3,movies,https://static1.personality-database.com/profi...,1,dead poets society,1246
...,...,...,...,...,...,...,...,...,...,...,...
15921,15921,Diana Reiter,Schindler's List (1993),6/0,INFJ,5w6,movies,https://static1.personality-database.com/profi...,210,schindler's list,527
15922,15922,Berkeley Cole,Out of Africa (1985),6/0,INFJ,1w9,movies,https://static1.personality-database.com/profi...,210,out of africa,1959
15923,15923,The Girl,A Girl Walks Home Alone at Night (2014),6/0,INFJ,4w5,movies,https://static1.personality-database.com/profi...,210,a girl walks home alone at night,118880
15924,15924,Urzah,The Dark Crystal (1982),6/0,INFJ,9w1,movies,https://static1.personality-database.com/profi...,210,the dark crystal,91077
15925,15925,Dr. Leonora Orantes,Contagion (2011),6/0,INFJ,9w1,movies,https://static1.personality-database.com/profi...,210,contagion,89470

In [8]:
watch_link =  pd.read_pickle('/opt/ml/project/Utils/Pickle/watch_link_3229movie_4462_rows.pickle')

In [11]:
df2 = df[['title','movieId']].copy()

In [19]:
df3 = df2.drop_duplicates(['title','movieId']).reset_index(drop=True)

In [26]:
df3.title.value_counts()

moana                               1
the odd life of timothy green       1
bacurau                             1
boy erased                          1
we're back! a dinosaur's story      1
                                   ..
the man who laughs                  1
the girl on the train               1
the wild one                        1
a hidden life                       1
a girl walks home alone at night    1
Name: title, Length: 3248, dtype: int64

In [22]:
watch_link2 = watch_link.merge(df3, on='title', how='left')
watch_link2

,title,platform,link,movieId
0,moana,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,73141
1,inside out,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,122470
2,zootopia,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,152081
3,legally blonde,no_link,no_link,4447
4,dead poets society,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,1246
...,...,...,...,...
4457,veer zaara,no_link,no_link,8971
4458,mr. deeds,왓챠,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,5449
4459,mr. deeds,티빙,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,5449
4460,after hours,no_link,no_link,7419
4461,suspiria,넷플릭스,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,4437

In [23]:
watch_link2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4462 entries, 0 to 4461
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     4462 non-null   object
 1   platform  4462 non-null   object
 2   link      4462 non-null   object
 3   movieId   4462 non-null   int64
dtypes: int64(1), object(3)
memory usage: 174.3+ KB

In [25]:
watch_link2.title.value_counts()

pan's labyrinth         4
himizu                  4
howards end             4
a violent prosecutor    4
what women want         4
                       ..
monsters vs. aliens     1
the cable guy           1
the notebook            1
eurotrip                1
suspiria                1
Name: title, Length: 3229, dtype: int64

In [27]:
watch_link2.to_pickle('/opt/ml/project/Utils/Pickle/watch_link_3229movie_4462_rows.pickle')

In [34]:
watch_link2[watch_link2.movieId==3563]

Empty DataFrame
Columns: [title, platform, link, movieId]
Index: []

In [32]:
watch_link2[watch_link2.title.str.contains('the lord')]

,title,platform,link,movieId
756,the lord of the rings,왓챠,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,2116
757,the lord of the rings,웨이브,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,2116

In [2]:
import pandas as pd

In [3]:
watch_link2 = pd.read_pickle('/opt/ml/project/Utils/Pickle/watch_link_3229movie_4462_rows.pickle')

In [4]:
watch_link2.platform.value_counts()

no_link      1343
왓챠           1000
넷플릭스          666
티빙            600
웨이브           490
디즈니+          322
no_result      40
애플 TV+          1
Name: platform, dtype: int64

In [38]:
watch_link2[watch_link2.movieId.isin(cp.movieId)]

Empty DataFrame
Columns: [title, platform, link, movieId]
Index: []

In [40]:
watch_link3 = pd.concat([watch_link2,cp])
watch_link3

,title,platform,link,movieId
0,moana,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,73141
1,inside out,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,122470
2,zootopia,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,152081
3,legally blonde,no_link,no_link,4447
4,dead poets society,디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,1246
...,...,...,...,...
212,Superman (1978 Franchise),넷플릭스,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,301014
213,Superman (1978 Franchise),웨이브,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,301014
214,Sydney White and the seven dorks (2007),티빙,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,300096
215,The Spider-Man Trilogy (2002),디즈니+,https://disneyplus.bn5x.net/c/3581330/1182069/...,300944
216,The Spider-Man Trilogy (2002),티빙,https://redirect.watcha.com/galaxy/aHR0cHM6Ly9...,300944

In [42]:
watch_link2.title.nunique()

3229

In [41]:
watch_link3.title.nunique()

3388

In [43]:
watch_link3.to_pickle('/opt/ml/project/Utils/Pickle/230131_watch_link_4679_rows.pickle')